body {
  margin: 0;
  padding: 0;
}
[class*='btn-'] {
  cursor: pointer;
}
#container {
  position: relative;
  margin: 0 8px;
}
#footer {
  background: url(../images/footer/footer_base_short.png) no-repeat;
  background-size: 320px auto;
  width: 320px;
  height: 49px;
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: auto;
}
#footer.hide {
  background: 0 0;
  pointer-events: none;
}
#footer-ctrl {
  width: 320px;
  font-size: 0;
  display: -webkit-box;
  display: box;
  -webkit-box-pack: justify;
  box-pack: justify;
}
#footer-navi {
  padding-right: 9px;
}
.btn-navi {
  background-repeat: no-repeat;
  height: 32px;
  margin: 9px 0 0;
  pointer-events: auto;
}
#footer-mypage {
  background-size: 50px 32px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px;
}
#footer-mypage.off {
  background-image: url(../images/footer/footer_btn_mypage.png);
}
#footer-mypage.on {
  background-image: url(../images/footer/footer_btn_mypage_on.png);
}
#footer.en #footer-mypage.off {
  background-image: url(../images/footer/en/footer_btn_home.png);
}
#footer.en #footer-mypage.on {
  background-image: url(../images/footer/en/footer_btn_home_on.png);
}
#footer-reload {
  background-size: 50px 32px;
  width: 50px;
  margin-right: 3px;
}
#footer-reload.off {
  background-image: url(../images/footer/footer_btn_reload.png);
  display: inline-block;
}
#footer-reload.on {
  background-image: url(../images/footer/footer_btn_reload_on.png);
  display: inline-block;
}
#footer.en #footer-reload.off {
  background-image: url(../images/footer/en/footer_btn_reload.png);
}
#footer.en #footer-reload.on {
  background-image: url(../images/footer/en/footer_btn_reload_on.png);
}
#footer-back {
  background-size: 42px 32px;
  width: 42px;
  margin-left: 9px;
}
#footer-back.off {
  background-image: url(../images/footer/footer_btn_back.png);
}
#footer-back.on {
  background-image: url(../images/footer/footer_btn_back_on.png);
}
#footer.en #footer-back.off {
  background-image: url(../images/footer/en/footer_btn_back.png);
}
#footer.en #footer-back.on {
  background-image: url(../images/footer/en/footer_btn_back_on.png);
}
#appVer {
  position: absolute;
  width: 80px;
  right: 2px;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
  pointer-events: none;
}
#appVer.on-sub {
  width: 64px;
  right: -64px;
}
#setting {
  width: 320px;
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 0;
}
#setting .btn-resize:first-child {
  margin-left: 77px;
}
#setting .btn-resize {
  background-size: 36px 8px;
  background-repeat: no-repeat;
  width: 36px;
  height: 8px;
  display: inline-block;
  pointer-events: auto;
}
#btn-resize-s.off {
  background-image: url(../images/footer/button_1_off.png);
}
#btn-resize-s.on {
  background-image: url(../images/footer/button_1_on.png);
}
#btn-resize-m.off {
  background-image: url(../images/footer/button_2_off.png);
}
#btn-resize-m.on {
  background-image: url(../images/footer/button_2_on.png);
}
#btn-resize-l.off {
  background-image: url(../images/footer/button_3_off.png);
}
#btn-resize-l.on {
  background-image: url(../images/footer/button_3_on.png);
}
#protect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  display: none;
}
.pop-usual {
  position: absolute;
  top: 50px;
  z-index: 150000;
  width: 320px;
  min-height: 115px;
  box-sizing: border-box;
  display: none;
}
.pop-usual::before {
  border-image: url(../images/popup/ui_pop.png) 106 0 124 fill stretch round;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-width: 53px 0 62px;
  content: '';
}
.prt-popup-header {
  box-sizing: border-box;
  height: 53px;
  text-align: center;
  color: #150f0f;
  padding-top: 17px;
}
.prt-popup-body {
  box-sizing: border-box;
  padding: 10px 30px;
  width: 320px;
}
.prt-popup-info {
  color: #f2eee2;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
}
.prt-popup-footer {
  box-sizing: border-box;
  height: 62px;
  text-align: center;
  padding-top: 12px;
  font-size: 0;
}
.button-blue-xxl {
  background-image: url(../images/popup/button_blu_xl.png);
  background-size: 141px auto;
  background-repeat: no-repeat;
  width: 141px;
  height: 36px;
  box-sizing: border-box;
  color: #f2eee2;
  text-shadow: 0 0 1px #253544, 0 0 1px #253544, 0 0 1px #253544,
    0 0 1px #253544, 0 0 2px #253544, 0 0 2px #253544, 0 0 2px #253544,
    0 0 2px #253544;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  display: inline-block;
  padding-top: 10px;
  margin-top: 3px;
}
.button-blue-xxl::after {
  content: 'OK';
}
.button-blue-xxl.on {
  zoom: 95%;
}
