body {
  overflow-x: hidden;
  cursor: default;
  padding-bottom: 50px;
}
body::-webkit-scrollbar {
  width: 3px;
  background: #ccc;
  opacity: 0.3;
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-piece {
  background: #eee;
}
body::-webkit-scrollbar-thumb {
  background: #666;
}
[class*='btn-'] {
  cursor: pointer;
}
.contents .cnt-quest-scene.log {
  overflow: visible;
}
.log .prt-log-display {
  padding-bottom: 50px;
}
